SUPABASE_URL=https://kbrjyfbuslpqcstnmykm.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imticmp5ZmJ1c2xwcWNzdG5teWttIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTEwNzQ3NTQsImV4cCI6MjAwNjY1MDc1NH0.CEv5Dou6L2_qLxYiF7lX9OJKZ6qRZI9VLCkj0QTBA3U
PG_DATABASE_URL=notimplementedyet
OPENAI_API_KEY=<change-me>
ANTHROPIC_API_KEY=null
JWT_SECRET_KEY=iANd/ZjS59nWfQW7X5tq8k8ui04RaUiAaK4zK3z7YssCkC4XYkIHQC/JiaJMFQlYst/PbsrSgld94sW01DuNpw==
AUTHENTICATE=true
GOOGLE_APPLICATION_CREDENTIALS=<change-me>
GOOGLE_CLOUD_PROJECT=<change-me>

MAX_BRAIN_SIZE=52428800
MAX_REQUESTS_NUMBER=200
MAX_BRAIN_PER_USER=5

#Private LLM Variables
PRIVATE=False
MODEL_PATH=./local_models/ggml-gpt4all-j-v1.3-groovy.bin

#RESEND
RESEND_API_KEY=<change-me>
RESEND_EMAIL_ADDRESS=onboarding@resend.dev
