NEXT_PUBLIC_ENV=local
NEXT_PUBLIC_BACKEND_URL=http://localhost:5050
NEXT_PUBLIC_SUPABASE_URL=https://kbrjyfbuslpqcstnmykm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imticmp5ZmJ1c2xwcWNzdG5teWttIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTEwNzQ3NTQsImV4cCI6MjAwNjY1MDc1NH0.CEv5Dou6L2_qLxYiF7lX9OJKZ6qRZI9VLCkj0QTBA3U
NEXT_PUBLIC_JUNE_API_KEY=<change-me>
